body {
  background: radial-gradient(1002px at -0.1% 47%, rgb(53, 92, 125) 0%, rgb(108, 91, 123) 51.2%, rgb(192, 108, 132) 100.2%);
  word-spacing: 3px;
}

div {
  border: 2px solid #fdefef;
  margin: 70px 400px;
  background: #fdefef;
  border-radius: 10px;
  box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.4);
}

h1,
h2,
a,
footer {
  text-align: center;
}

h1 {
  font-family: 'Englebert', sans-serif;
  color: #123f7a;
  font-size: 40px;
  margin-top: 40px;
}

h2 {
  font-family: 'Voltaire', sans-serif;
  color: #38598b;
  font-size: 30px;
  font-weight: 200;
  margin-top: 30px;
}

img {
  display: block;
  margin: 30px auto;
  width: 80%;
  border-radius: 10px;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.4);
}

p {
  display: block;
  margin: 0 auto;
  text-align: justify;
  line-height: 30px;
  font-size: 21px;
  font-weight: 300;
  width: 80%;
  font-family: 'Voltaire', sans-serif;
}

span {
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
}

a {
  text-decoration: none;
  color: #123f7a;
  transition: all 0.15s ease-in-out;
}

a:hover {
  text-decoration: underline;
  font-weight: bold;
}

hr {
  width: 80%;
  opacity: 0.6;
  margin: 20px auto;
}

button {
  display: block;
  margin: 30px auto;
  padding: 15px 60px;
  font-size: 19px;
  color: white;
  background-color: #3E5C7B;
  border: none;
  border-radius: 40px;
  transition: all 0.15s ease-in-out;
}

button:hover {
  opacity: 0.8;
  cursor: pointer;
  background-color: #C06C84;
  color: white;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.4);
}

footer {
  margin: 10px 0 20px 0;
  font-family: 'Englebert', sans-serif;
  color: #092140;
  font-size: 18px;
}